body {
  top: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

input[type="text"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  outline: 0;
  padding: 10px;
  width: 300px;
  margin: 10px 20px;
}

h1 {
  top: 10px;
  color: #343434;
  margin: 0px auto;
}

h2 {
  color: #adafb5;
  margin: 0;
  font-size: 15px;
  font-weight: 200;
  margin-top: 10px;
}

h3 {
  color: #0c38d6;
  font-size: 20px;
  font-weight: 100;
  margin: 0px auto;
  margin-top: 15px;
}

h4 {
  color: #343434;
  font-size: 50px;
  margin: 0;
  margin-top: 40px;
}

ul {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
  padding: 1px;
}

.sun {
  margin-left: 150px;
  margin-top: -260px;
}

.search-form {
  margin-bottom: 20px;
}

.weather-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px 0;
  max-width: 630px;
  padding: 20px 16px 24px;
}

.units {
  position: relative;
  font-size: 15px;
  color: #adafb5;
}

.container-info-weather {
  margin-left: 10px;
}

.fa-tint {
  color: #0c38d6;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 2px;
  border-radius: 25rem;
}

.humidity {
  color: #343434;
}

.fa-wind {
  color: #0c38d6;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 2px;
  border-radius: 25rem;
}

.wind {
  color: #343434;
}

#footer-menu {
  display: block;
  margin-top: 1px;
  padding: 1px;
  color: #343434;
  font-size: 12px;
}

.source-code {
  color: #0c38d6;
}
